/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
}
.slide img{
    width: 100%;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #121213;
}
@media screen and (max-width:1050px) {
    .slide {  
        height: 300px;
        width: 100%;
      }
      .slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width:850px) {
    .slide {
        height: 280px;
        width: 100%;
      }
      .slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
    .slideshowDot { 
        height: 15px;
        width: 15px;
    }
}

@media screen and (max-width:450px) {
    .slide {
        height:200px;
        width: 100%;
      }
      .slide img{
        width: 100%;
        height: 100%;
        object-fit:fill;
    } 
    .slideshowDot { 
        height: 15px;
        width: 15px;
    }
}

@media screen and (max-width:380px) {
    .slide {
        height:200px;
        width: 100%;
      }
      .slide img{
        width: 100%;
        height: 100%;
        object-fit:fill;
    }   
    .slideshowDot { 
        height: 15px;
        width: 15px;
    }
}