.div-loading{
  width: 100%;
  height: auto;
  margin: auto;
  /* background-color: black; */
  height:auto;
  text-align: center;
}
.div-loading img{
  width: 50%;
  margin: auto;
}



/* 
@media screen and (max-width:1050px) {
    
}

@media screen and (max-width:850px) {
    
}

@media screen and (max-width:450px) {
    
}

@media screen and (max-width:380px) {
    
}
@media screen and (max-width:330px) {
    
} */